<div id="<%= dom_id performance_review %>">
  <p>
    <strong>User:</strong>
    <%= performance_review.user_id %>
  </p>

  <p>
    <strong>Objective:</strong>
    <%= performance_review.objective_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= performance_review.rating %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= performance_review.comments %>
  </p>

</div>
